@font-face {
    font-family: 'Amita';
    src: url('../fonts/Amita/Amita-Regular.woff2') format('woff2'),
        url('../fonts/Amita/Amita-Regular.woff') format('woff'),
        url('../fonts/Amita/Amita-Regular.ttf') format('tif');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('tif');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* border radius 50% para la foto redonda */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 1rem;
}
:root {
    --primary_color: #f4ddca;
    --secundary_color: black;
    --max_width: 1000px;
    --terciary_color: #87CDE9;
    --max-width2: 1500px;


}
.desktop {
    margin: 0 auto;
    max-width: var(--max_width);
}
.desktop2 {
    margin: 0 auto;
    max-width: var(--max-width2);
    p {
        font-size: 1.25rem;
        text-align: center;
        padding: 2rem;
    }
    h2 {
        font-size: 2rem;
        padding: 1rem;
    }
}
.menu_color {
    color: black;
    background-color: var(--primary_color);


}

.destinaciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: start;
    gap: 3rem;
    

    h3 {
        justify-content: center;
        text-align: center;
        padding: 1rem;
        font-family: "Amita";
    }
    img {
        width: 100%;
        transition: transform 0.3s ease; /* Agregamos la transición */
    }
    
    img:hover {
        transform: scale(1.1); /* Aumenta el tamaño al 110% cuando se pasa el ratón */
    } 
/* para que aumenten las imagenes cuando pasa por encima el cursor */
    
    p {
        justify-content: center;
    }

}
.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: start;
    gap: 4rem;
    
    img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        display: block;
        
    
    }
    
    h3 {
        justify-content: center;
        text-align: center;
        padding: 1rem;
        color: var(--terciary_color);
        font-family:"Amita";
        font-size: 1.25rem;
    }
    p {
        justify-content: center;
    }
    div {
        background-color: white;
        padding: 1rem;
        text-align: 1rem;
    }
    a{
        text-decoration: none;
        color: inherit;
        &:hover {
            border-bottom: 2px solid var(--terciary_color)
        }
    }
    
}

.titulo_servicios {
    h2 {
        color: var(--terciary_color);
        
    }
}
.excursiones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: start;
    gap: 1rem;
    
    img {
        width: 500px;
        height: 280px;
        margin: 0 auto;
        display: block;
        transition: transform 0.3s ease; /* Agregamos la transición */
    }
    
    img:hover {
        transform: scale(1.1); /* Aumenta el tamaño al 110% cuando se pasa el ratón */
    }
    
    
    
    h3 {
        justify-content: center;
        text-align: center;
        padding: 0.50rem;
        font-family:"Amita";
        font-size: 1.5rem;
    }
    p {
        justify-content: center;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    div {
        background-color: white;
        padding-bottom: 1rem;
        text-align: center;
       
    }
}
.background {
    background-image: linear-gradient(to top,rgba(255, 255, 255, 0.969),rgba(255, 255, 255, 0.308)), url("../img/fondo2.avif");
    background-size: cover;  
}
.fondo1{
    background-image: url("../img/background.avif");
    background-size: cover;
}
.fondo2 {
    background-image: linear-gradient(rgba(255, 166, 0, 0.097), rgba(255, 166, 0, 0.097)), url("../img/background.avif");
    background-size: cover;
}
.fondo3 {
    background-image: linear-gradient(#f4ddca94, #f4ddca94), url("../img/background.avif");
    background-size: cover;
}

.preguntas_frecuentes {
    justify-content: center;
    summary {
        padding: 2rem;
        font-size: 1.5rem;
        font-family: "Amita";
    }
    p {
        font-size: 1.25rem;
        padding: 1rem;

    }
    
   
}
.quienes_somos {
    display: flex;
    align-items: center;
    width: 100%;
    img {
        border-radius:50%;
        width: 50%;
        padding: 3rem;
        transition: transform 0.3s ease; /* Agregamos la transición */
        }
        
    img:hover {
            transform: scale(1.1);
    }

}


.pie {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
   
    img {
        width: 50px;
        height: 50px;
    }
    p {
        justify-content: center;
    }
}
.logo_pie {
     img {
        width: 100px;
        height: 100px;
        transition: transform 0.3s ease; /* Agregamos la transición */
        }
        
    img:hover {
            transform: scale(1.1);
    }
}
   

.informacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: start;
    gap: 4rem;
    
    img {
        margin: 0 auto;
        display: block;
        width: 80px;
        height: 80px;

        
        
    
    }
    
    h3 {
        justify-content: center;
        text-align: center;
        padding: 1rem;
        font-family:"Amita";
        font-size: 1.5rem;
    }
    p {
        text-align: center;
        font-size: 1.25rem;
        padding: 1rem;
    }
    div {
        padding: 1rem;
        text-align: 1rem;
    }


}
.informacion2 {
    h3 {
        justify-content: center;
        text-align: center;
        padding: 1rem;
        font-family:"Amita";
        font-size: 1.5rem;
    }
    p {
        justify-content: left;
        font-size: 1.25rem;
        padding: 1rem;
    }
}
header picture {
    img {
        width: 2000px;
        height: 900px;
        display: block;

    }
    background-color: white;
}
    
header div {
    img {
        position: absolute;
        left: 8vw;
        top: 5vw;
        font-size: 8vw;
        
    }
    h1 {
        font-family: "Amita";
        color: white;
        font-size: 7rem;
        position: absolute;
        right: 9vw;
        bottom: 5vw;
    }
        
    }

nav {
    position: sticky;
    top: 0px;
    color: var(--secundary_color);
    ul {
        display: flex;
        justify-content: space-between;
        
        
    }
    li {
        list-style: none;
        padding: 1rem;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            border-bottom: 2px solid var(--secundary_color)
        }
    }
}

main {
    h2 {
        text-align: center;
        padding: 2rem;
    }

}
h2 {
    font-family: "Amita";
    font-size: 2rem;
}
h3 {
    font-family: "Amita";
    font-size: 1.25rem;
}
main section {
    padding-bottom: 3rem;
}